[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = https://github.com/OCA/purchase-workflow.git
	branch = 16.0
[submodule "OCA/vertical-association"]
	path = OCA/vertical-association
	url = https://github.com/OCA/vertical-association.git
	branch = 16.0
